/*
	Installed from https://reactbits.dev/default/
*/

.galaxy-container {
  background-color: black;
  z-index: -1;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 100%;
  position: absolute;
}